a.btnCTA {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.6;
  font-weight: bold;
  border-radius: 2px;
  white-space: normal;
  display: inline-block;
  background: #EEE1DA !important;
  border-color: #EEE1DA !important;
  width: 100%;
  text-align: center;
}

a.btnCTA:hover {
  background: #CA9C94 !important;
  border-color: #CA9C94 !important;
}