a.btnCTA {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.6;
  font-weight: bold;
  border-radius: 2px;
  white-space: normal;
  display: inline-block;
  background: #EBDEDD !important;
  border-color: #EBDEDD !important;
  color: #fff !important;
  padding: .8rem 1.125rem !important;
  width: 100%;
  text-align: center;
}

a.btnCTA:hover {
  background: #CA9C94 !important;
  border-color: #CA9C94 !important;
}